<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>815327431922-5v4gkeu3cblns26be29q4902qme9n7k7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815327431922-5v4gkeu3cblns26be29q4902qme9n7k7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>815327431922-8dfdn5v4f6lj7312et5rv9t1qovtq2gm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCJo3aQ2GOzYmgQoH8UCA3XVKTiv-WgUOg</string>
	<key>GCM_SENDER_ID</key>
	<string>815327431922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yarisa.healthcare</string>
	<key>PROJECT_ID</key>
	<string>mobile-doctors-5dea5</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-doctors-5dea5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815327431922:ios:3a96366aa8dc9883f4546b</string>
	<key>DATABASE_URL</key>
	<string>https://mobile-doctors-5dea5.firebaseio.com</string>
</dict>
</plist>